@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,400&family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap');

body{
    font-family: 'Comfortaa', cursive;
}
.container{
    /* border: 1px solid black; */
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hex-colors{
    border: 1px solid black;

    text-align: center;
}
.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: changeColors 5s infinite alternate;
}
.hex-colors h2{
    /* border: 1px solid black; */
    font-size: 2rem;
    margin-top: 15%;
}
@keyframes changeColors{
    0%{
        color: indigo;
    }
    20%{
        color: blue;
    }
    40%{
        color: green;
    }
    60%{
        color: purple;
    }
    80%{
        color: yellow;
    }
    100%{
        color: lightcoral;
    }
}
@media(max-width:480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}